SUBSYSTEM=="tty", ATTRS{serial}=="CZPX0518X004XC46803", SYMLINK+="printer0"
SUBSYSTEM=="tty", ATTRS{serial}=="CZPX1919X004XC24974", SYMLINK+="printer0"